.footer{
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
}

.container-footer {

    padding-right: 150px;
    padding-left: 150px;
    background-color: #263EFA;
    height: 45
    
    0px;
    color: #FFFFFF;
}

.footer > * {
    margin-right: 80px; /* Adjust the spacing as needed */
}

#fname{
    border-radius: 9px;
    padding: 10px;
    width: 290px;
    border: none;
    font-size: 20px;
}
.btnsubmit{
    padding: 10px;
    border-radius: 10px;
    border: none;
    color: #5663FA;
    font-weight: bold;
    font-size: 19px;
    cursor: pointer;
}

#comm{
    font-size: 34px;
}


